[submodule "src/moveit/moveit_task_constructor"]
	path = src/moveit/moveit_task_constructor
	url = https://github.com/moveit/moveit_task_constructor.git
[submodule "src/moveit/moveit2"]
	path = src/moveit/moveit2
	url = https://github.com/moveit/moveit2.git
